@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body {
    background-image: url('pexels-rafael-cerqueira-4737484.jpg');
    font-family: Roboto;
    color: white;
    height:90vh;
   
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -80px;
}

.catalog,
.cart,
.profile {
    padding: 10px;

}

.welcome {
    display: flex;
    justify-content: center;
   align-items: center;
   height:90vh;
   font-size:50px;
}